// bower:scss
// endbower


// primary color
$mint: #B6DFC5;
$spring: #E6F0AF;
$lemon: #E8ED76;
$mustard: #FFCD57;
$purple: #4A3A47;
$white: #ffffff;

// secondary color
$darkmint: darken($mint, 15%);
$darkspring: darken($spring, 10%);
$darklemon: darken($lemon, 23%);
$darkmustard: darken($mustard, 10%);
$darkpurple: darken($purple, 7%);
$darkwhite: darken($white, 10%);

// fonts
$primary-typeface: 'Comfortaa', helvetica, sans-serif;
$headline-typeface: 'Fredoka One', 'Comfortaa', helvetica, sans-serif;
$logo-typeface: 'Courgette', 'Comfortaa', helvetica, sans-serif;

// light 300, normal 400, bold 700
@mixin primary-text($size, $weight, $style, $color) {
    font-family: $primary-typeface;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}

@mixin headline-text($size, $color) {
    font-family: $headline-typeface;
    font-size: $size;
    color: $color;
}

@mixin logo-text($size, $color) {
    font-family: $logo-typeface;
    font-size: $size;
    color: $color;
}

// button
@mixin primary-button($bg-color, $color, $padding-t, $padding-b) {
    padding: $padding-t 30px $padding-b 22px;
    height: 50px;
    background-color: $bg-color;
    @include primary-text(1em, 300, light, $color);
    text-align: center;
    letter-spacing: 0.04em;
    border: 3px solid darken($bg-color, 7%);
    border-radius: 25px;
    outline: none;
    transition: all 80ms ease-in;
    &:hover {
        background-color: lighten($bg-color, 5%);
        border-color: darken($bg-color, 10%);
        cursor: pointer;
    }
    &:active {
        background-color: lighten($bg-color, 10%);
    }
}

@mixin secondary-button($bg-color, $color) {
    padding: 6px 10px 10px 10px;
    height: 30px;
    background-color: $bg-color;
    @include primary-text(0.7em, 300, light, $color);
    text-align: center;
    letter-spacing: 0.04em;
    border: 2px solid darken($bg-color, 7%);
    border-radius: 15px;
    outline: none;
    transition: all 80ms ease-in;
    &:hover {
        background-color: lighten($bg-color, 5%);
        border-color: darken($bg-color, 10%);
        cursor: pointer;
    }
    &:active {
        background-color: lighten($bg-color, 10%);
    }
}

// --------- Global -----------
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  margin: 0 auto;
}

body {
    margin: 0 auto;
    background: #fafafa;
    @include primary-text(1em, 300, light, $darkpurple);
    color: #333;
}

input[type=text] {
    height: 50px;
    padding: 0 20px 0 20px;
    border-radius: 25px;
    border: 3px solid $darkwhite;
    outline: none;

    &:active {
        border: 3px solid $darkpurple;
    }
}

input[type=checkbox] {
    height: 20px;
    margin: 0 15px 0 15px;
    border-radius: 5px;
    outline: none; 
}

// -------- Header ---------
header {
    margin: 0 auto;
    height: 100px;
    background-color: $mustard;
    border-bottom: 3px solid $darkmustard;

    div {
        padding: 25px 30px 0 30px;
        width: 100%;
        max-width: 1100px;

        .logo {
            display: inline-block;
            padding-top: 10px;
            @include logo-text(1.6em, darken($mustard, 20%));
            -webkit-text-shadow: -1px -1px 3px lighten($mustard, 20%);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-text-shadow:    -1px -1px 3px lighten($mustard, 20%);  /* Firefox 3.5 - 3.6 */
            text-shadow:         -1px -1px 3px lighten($mustard, 20%);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
        }

        .new-item {
            display: inline-block;
            float: right;
            @include primary-button($purple, $white, 9px, 9px);

            img {
                margin-right: 16px;
                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -ms-transition: all 300ms ease-out;
                transition: all 300ms ease-out;
            }
        }

        .clear-float {
            clear: both;
        }
    }
}

// -------- Create New Item ---------
.create-item {
    // clear: both;
    display: none;
    width: 100%;
    background-color: $purple;
    border-bottom: 3px solid $darkpurple;
    -webkit-transtion: height 200ms ease-in;

    .create-item-inner {
        margin: 0 auto;
        padding: 32px 30px 30px 30px;
        width: 100%;
        max-width: 1100px;
        @include primary-text(1.1em, 400, normal, lighten($purple, 40%));
        line-height: 2em;

        .create-item-form {
            width: 70%;

            ul {
                list-style: none;
                display: inline-block;
                padding: 0 0 28px 0;
                width: 100%;

                li {
                    text-align: center;

                    &:first-of-type {

                        input[type="checkbox"] + label span {
                            margin: -3px 16px 0 0;
                        }
                    }

                    input[type="checkbox"] {
                        display: none;
                    }

                    input[type="checkbox"] + label span {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        margin: -3px 14px 0 0;
                        vertical-align: middle;
                        background-color: $white;
                        border: 3px solid $darkwhite;
                        border-radius: 100%;
                    }

                    input[type="checkbox"]:checked + label span {
                        background-color: $mint;
                        border: 3px solid darken($mint, 20%);
                    }

                    label {

                        &:hover {
                            color: lighten($purple, 50%);
                            cursor: pointer;
                        }

                        // &:hover ~ span {
                        //     background-color: darken($white, 4%);
                        //     border: 3px solid $mint;
                        // }
                    }
                }
            }

            .item-input-button {
                display: inline-block;
                width: 100%;

                .new-input {
                    width: 100%;
                    font-size: 1em;
                }

                .save-item {
                    margin-top: 25px;
                    width: 100%;
                    @include primary-button($darkmint, $white, 10px, 10px);
                }
            }
        }
    }
}

.show-item-create {
    // display: inline-block;
}

// -------- list Section ---------
.list-section {
    margin: 0 auto;
    width: 100%;
    height: 950px;
    background-color: $mint;
    background-image: url('../images/pentagon.png');

    .list-section-inner {
        padding: 30px 30px 30px 30px;
        width: 100%;
        max-width: 1100px;

        .view-container {
            display: block;
            margin-bottom: 25px;
            padding: 25px;
            float: left;
            width: 100%;
            height: 100%;
            max-height: 280px;
            background-color: $white;
            @include primary-text(1em, 300, light, $darkpurple);
            border-radius: 0 0 25px 25px;
            overflow: scroll;
            -webkit-box-shadow: 0px 1px 5px $darkmint;
            -moz-box-shadow:    0px 1px 5px $darkmint;
            box-shadow:         0px 1px 5px $darkmint;

            p {
                padding: 0 0 20px 0;
                @include primary-text(1.2em, 700, bold, $darkpurple);
                text-align: center;
                border-bottom: 3px solid $darkwhite;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    @include primary-text(1em, 300, light, $darkpurple);
                }
            }
        }

        .clear-float {
            clear: both;
        }
    }
}

.container .view-container:nth-of-type(3n) {
  
}

.line-item {
    color: black;
}

.options {
    padding: 15px 0;
    border-bottom: 3px solid $darkwhite;

    li {
        padding: 0 0 12px 12px;
    }

    .copy-to-one, .copy-to-two, .copy-to-three {
        margin: 0 5px 10px 0;
        @include secondary-button(darken($white, 2%), $purple);
    }

    .move-to-one, .move-to-two, .move-to-three {
        margin: 0 5px 10px 0;
        @include secondary-button($mint, $purple);
    }

    .delete-button {
        @include secondary-button($mustard, $purple);
    }
}


@media screen and (min-width: 60em) {

    .create-item {

        .create-item-inner {

            .create-item-form {

                ul {
                    padding: 0 0 8px 0;
                    width: 50%;
                }

                .item-input-button {
                    width: 49%;

                    .new-item-text {
                    }

                    .save-item {
                    }
                }
            }
        }
    }

    .list-section {
        display: block;
        height: 1200px;

        .list-section-inner {

            .view-container {
                display: inline-block;
                margin-right: 3.5%;
                width: 31%;
                // height: 570px;
                max-height: none;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}